<!-- wp:template-part {"slug":"header","tagName":"div","className":"wpc-header-part","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wpc-main wpc-main--dashboard wpc-main--student","layout":{"type":"constrained"}} -->
<main class="wp-block-group wpc-main wpc-main--dashboard wpc-main--student"><!-- wp:group {"align":"wide","className":"wpc-dash","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide wpc-dash"><!-- wp:post-title {"level":1,"className":"wpc-dash__title"} /-->

<!-- wp:post-content {"className":"wpc-dash__content","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","className":"wpc-footer-part","area":"footer"} /-->
